:root {
    --size-body: 18px;
    --lineh-body: 100%;
}
html{
    overflow-y: auto;
}

@font-face {
    font-family: 'ArialBlackCustom';
    src: url('../fonts/arial_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
    margin-top: calc(2vw + 30px);
    font-family: 'ArialBlackCustom', sans-serif;
    line-height: var(--lineh-body);
    background-color: #fff;
    color: #000;
}

/* Hide crollbar */
::-webkit-scrollbar {
    display: none;
}
body, select, input, textarea {color: #000;}
a {
    color: #000;
    text-decoration: none;
}
/* Colore del link header-link su desktop */
a.header-link {
    color: #ffffff;
    text-decoration: none;
}
a:hover {color: #c7c7c7;}
::-moz-selection{background: rgba(0, 255, 13, 0.9); color: rgb(0, 0, 0); text-shadow: none;}
::selection {background: rgba(0, 255, 13, 0.9); color: rgb(0, 0, 0); text-shadow: none;}
a:link {-webkit-tap-highlight-color: rgb(255, 255, 255);}
ins {background-color: rgb(255, 255, 255); color: #000; text-decoration: none;}
mark {background-color: rgb(255, 255, 255); color: #000; font-style: italic; font-weight: bold;}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#000; }
textarea:-moz-placeholder { color:#000; }
.clearafter:after{
    content: '';
    display: block;
    clear: both;
}
.align-right { text-align: right; }

/* C O D E*/
#header {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: none;
    mix-blend-mode: difference;
    z-index: 1000;   
}
.top-header {
    font-size: 3vw;
    line-height: 3vw;
    padding-bottom: 0;
    color: #ffffff;
    mix-blend-mode: difference;
}
.top-header a {
    color: #ffffff;
}
.personal-details {
    padding: 10px;
    padding-top: 14px;
    position: fixed;
    top: 0;
    left: 12.3%;
    width: 65%;
    color: #ffffff;
    z-index: 1000;
    font-size: 1.2vw;
    line-height: 1.25vw;
    mix-blend-mode: difference;
}
/* HOME
-------------------------------------------------------------------------------*/
.thumbnail {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.thumbnail img {
    width: 100%;
    display: block;
}
.thumbnail video {
    width: 100%;
    display: block;
}
.thumbnail h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: #FFF;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    mix-blend-mode: difference;
    z-index: 1; /* Assicurati che h1 sia sopra il video */
}
.entry {
    padding-top: 0px;
 }
/* MARGINI HOME
-------------------------------------------------------------------------------*/
.projects-wrapper {
    padding: 5px 10px;
}
/* SINGLE PROJECTS
-------------------------------------------------------------------------------*/
.project_col {
    padding: 0 10px 10px;
}
.project_col.full {
    flex: 0 0 100%;
}
.single-progetti .top-header {
    padding-bottom: 0;
}
.single-progetti #header {
    padding-bottom: 1px;
}
.description {
    padding: 10px 10px;
    column-gap: 20px;
}
.single-progetti #contenuti {
    padding-top: 7vw;
}
.single-progetti h1.entry-title{
    color: #000;
    font-size: 3vw;
    line-height: 0.8em;
    padding-top: 5px;
    padding-bottom: 15px;
}
.single-progetti .full-details{
    padding-top: 10px;
    margin-bottom: 10vw;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #000;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 3vw;
}
/* PAGE PROJECTS
-------------------------------------------------------------------------------*/
.page-template-page-projects .column-heading{
    padding: 0 10px;
    margin-top: 3vw;
}
.page-template-page-projects .column-heading .order-date{
    text-align: left;
}
/* FOOTER
-------------------------------------------------------------------------------*/
/* FOOTER HOME */
.footer-home {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 50px;
    padding-left: 0; /* Nessun padding laterale */
    padding-right: 0; /* Nessun padding laterale */
}
/* FOOTER PROJECT */
.footer-project {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 10px; /* Padding laterale */
    padding-right: 10px; /* Padding laterale */
}
/* STYLE
-------------------------------------------------------------------------------*/
.col-md-6{
    float: left;
    width: 50%;
}

/* MOBILE
-------------------------------------------------------------------------------*/
.mobile { display: none; }
@media screen and (max-width: 960px) {
    :root {
        --size-body: 3.5vw;
        --lineh-body: 1em;
        
        --size-smaller: 3.2vw;
    }
    .mobile { display: block; }
    .desktop { display: none; }
    body {
        margin-top: calc(9vw + 21px);
    }
    body.home {
        margin-top: calc(25vw + 21px);
    }
    #header {
        padding-bottom: 0;
    }
    .top-header {
        font-size: 10vw;
        line-height: 9vw;
        padding-bottom: 10px;
    }
    .personal-details.clearafter {
        position: absolute;
        z-index: 0;
        left: 0;
        top: calc(9vw + 20px);
        font-size: var(--size-body);
        line-height: var(--lineh-body);

        margin-left: 10px;
        text-align: left;
        padding: 10px 0;
        background-color: rgb(255, 255, 255);
    }
    .personal-details .mobile{
        display: inline;
    }
    a.header-link {
        color: #000000;
    }
    img.closemenu {
        height: 8vw;
        vertical-align: middle;
        margin-bottom: 2.5vw;
    }
    .description-home {
        margin: 10px;
        margin-bottom: 10px;
        column-count: inherit;
        padding-left: 0;
        padding-right: 0;
    }
    .thumbnail h1 {
        font-size: 16px;
        line-height: 16px;
    }
    /* FRONT PAGE
    -------------------------------------------------------------------------------*/
    .home .all-projects {
        margin-top: 20vw;
    }
    .home .all-projects a {
        display: block;
    } 
    .page-template-page-projects .entry {
        padding-top: 0px;
    }
    .page-template-page-projects .column-heading {
        position: fixed;
        top: calc(9vw + 20px);
        width: calc(100% - 20px);
        left: 10px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 5px 0;
        margin-top: 0;
    }
    .page-template-page-projects .personal-details.clearafter {
        display: none;
    }
    /* SINGLE PROJECT 
    -------------------------------------------------------------------------------*/
    .description {
        column-count: inherit;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 0px;
        line-height: 100%;
        font-size: 16px;
        line-height: 18px;
    }
    .project_grid {
        left: 10px;
        right: 10px;
    }
    .project_col img {
        display: flex;
        width: 100%;
    }
    /* FOOTER
    -------------------------------------------------------------------------------*/
    /* FOOTER HOME */
    .footer-home {
        font-size: 18px;
        margin-bottom: 10px;
        padding-bottom: 50px;
        padding-left: 0; /* Nessun padding laterale */
        padding-right: 0; /* Nessun padding laterale */
    }
    /* FOOTER PROJECT */
    .footer-project {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 10px; /* Padding laterale */
        padding-right: 10px; /* Padding laterale */
    }  
}

